<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="~/Content/MyStyles.css" />
    <title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>
     @*@Styles.Render("~/Content/css")*@ 
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="dokument2">
        <div id="naglowek"></div>
        <div id="tloKolor">

            <div id="menu">
                <h2>MENU</h2>
                <ol>
                    <li>@Html.ActionLink("Managing page", "Index", "Home")</li>
                </ol>
            </div>

            <div id="tresc">
                @RenderBody()

                
                
            </div>
            <hr />

            <div id="footer">
                @*<h3 class="mail"><i><a href="mailto:kazanov18@wp.pl">Jeśli masz jakikolwiek problem, napisz</a></i></h3>*@
                &copy; MK
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
