@model serwisSpolecznosciowy.Models.User

@{
    ViewBag.Title = "Delete friend Page";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>@Html.Label("Login:")</div>
    <div>@Html.TextBox("login")</div>
    <input type="submit" value="Delete" />
}


@if (ViewBag.FriendsDeleteResourceMessage == "DELETE YOURSELF")
{
    <br />
    <h4>@MyLanguageResources.ErrorFriendDelYourself</h4>
}
else if (ViewBag.FriendsDeleteResourceMessage == "EMPTY LOGIN INPUT")
{
    <br />
    <h4>@MyLanguageResources.ErrorEmptyLoginInput</h4>
}
else if (ViewBag.FriendsDeleteResourceMessage == "USER DOESNT EXIST")
{
    <br />
    <h4>@MyLanguageResources.ErrorUserDoesntExist</h4>
}
else if (ViewBag.FriendsDeleteResourceMessage == "FRIEND DELETED")
{
    <br />
    <h5>@MyLanguageResources.SuccessFriendDeleted</h5>
}
else if (ViewBag.FriendsDeleteResourceMessage == "FRIEND DOESNT EXIST")
{
    <br />
    <h4>@MyLanguageResources.ErrorFriendDoesntExist</h4>
}

<div>
    @Html.ActionLink("Back to Managing Page", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
